html, body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: indianred;
}

header{
    background-color: darksalmon;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}
p{
    text-align: justify;
    font-size: medium;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 1000px;
    margin: 25px;
    margin-top: 100px;
}
footer{
    color: hsl(176, 100%, 97%);
    text-align: center;
}

.box {
    width: 500px;
    heigth: 500;
    border: solid;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

#white{
    background-color: #577685;
}
